@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap');
:root{
    --main-color:#cd5c5c;
    --black:rgb(78, 76, 76);
    --color-secodary-dark: #464C70;
    --bg:#fceae9;
    --border:.1rem solid rgba(0,0,0,.1);
   --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

*{
    font-family: 'Nunito', sans-serif;
}

.header{
    position: relative;
    z-index: 1000;
    background: whitesmoke;
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem 9%;
}

.header .logo{
    font-size: 2.5rem;
    align-items: center;
    margin-right: 300px;
    color:var(--black);
    font-weight: bolder;
    background: transparent;
    text-decoration: none;
}

#home{
    color: var(--black);
    margin-left: -80px;
    font-size: 25px;
}

.intro{
    font-size: 18px;
    color: var(--black);
}
.container{
    height: 88vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.board{
    max-width: 987px;
    width: 100%;
    background-color: var(--main-color);
    text-align: center;
    border-radius: 8px;
    padding: 4em 0;
}

.text-light{
    color: var(--color-secodary-dark);
    font-family: 'Courier New', Courier, monospace;
}

.swiper {
    width: 600px;
    height: auto;
  }

.swiper .swiper-slide .flex{
    margin: 3em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.swiper .swiper-slide .comments{
    background-color: var(--bg);
    padding: 1.5em 2em;
    width: 50%;
    border-radius: 5px;
    font-size: .9em;
    position: relative;
}

.swiper .swiper-slide .comments::after{
    content: '';
    position: absolute;
    bottom: -19px;
    left: 45%;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid var(--bg);
    z-index: -99;
}


.swiper .profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
}

.swiper .profile img{
    width: 30%;
    border-radius: 50%;
    border: 5px solid var(--black);
    margin: 10px 0;
}

.swiper .profile > a{
    text-decoration: none;
    color: var(--bg);
}

.swiper .profile > span{
    color: var(--color-secodary-dark);
    font-size: .8em;
}

.swiper .swiper-button-prev, .swiper-button-next{
    color: var(--color-secodary-dark);
    display: none;
} 

@media (min-width: 320px) {

    .board{
        width: auto;
    }

    .swiper {
        width: 320px;
      }

      .board > h1, p{
          padding: 0 2em;
      }
}

@media (min-width: 768px) {

    .board{
        width: 100%;
    }

    .swiper {
        width: 600px;
      }

    .swiper .swiper-button-prev, .swiper-button-next{
        display: initial;
    }

}

@media (max-width: 780px) {

    .header .logo{
        font-size: 30px;
        margin-right: 20px;
        margin-left: -30px;
    }

    .header #home{
        margin-left: 10px;
    }

    .intro p{
        font-size: 15px;
    }
}

@media (max-width: 470px) {
    .board{
        height: 70%;
    }
    .header .logo{
        font-size: 20px;
    }

    #home{
        margin-left: -10px;
        margin-right: 10px;
    }
    .intro p{
        font-size: 12px;
    }
}